* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

@font-face {
    font-family: "Muli";
    src: url("fonts/Muli.ttf");
}

@font-face {
    font-family: "belleza";
    src: url("fonts/Belleza.ttf");
}

@font-face {
    font-family: "Pizza";
    src: url("fonts/pizza.ttf");
}

@font-face {
    font-family: "Pizza2";
    src: url("fonts/pizza2.ttf");
}
#whatsapp_item {
    display: flex;
    background-image: url(../imgs/icon2.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width:30px;

}
#msj_for_client{
    width: 80%;
    align-self: center;
}

.close_window_fotos {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    cursor: pointer;
    left: 92%;
    top: -17px;
    font-size: 36px;
}

.none-option {
    display: flex;
    justify-content: center;
    width: 124px;
    align-self: center;
    background: black;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-radius: 18px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'belleza';
    font-weight: 400;
}

.mg_movil {
    display: none;
    visibility: hidden;
}

.mg_max {
    display: flex;
    visibility: visible;
    margin-right: 48px;
    margin-top: 20px;
}

#logo {
    background-image: url(../imgs/icon.png);
    width: 52px;
    height: 54px;
    align-self: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
    margin-left: 10px;
}


#e_overscreen {
    z-index: 500;
    display: flex;
    position: fixed;
    background-image: url(../galery/lucesnavi.gif);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 34px;
    top: -17px;
}

#go_navidad {
    display: flex;
    z-index: 500;
    position: fixed;
    background-image: url(../galery/go_navidad.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    top: 10%;
    left: 81%;
}

.a_db {
    display: flex;
    padding: 5px;
    color: black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 23px;
}

.buttons_menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

#viewreservas {
    display: none;
    visibility: hidden;
    cursor: pointer;
    width: 82px;
    justify-content: space-around;
}

.preview_foto {
    display: none;
    visibility: none;
    position: fixed;
    background: radial-gradient(circle, rgb(216 173 189 / 0%) 11%, rgb(236 123 123 / 64%) 86%);
    z-index: 300;
    padding: 20px 20px 20px 0px;
    top: 100px;
    border-radius: 10px;
    justify-content: center;
}

.new_preview_foto {
    background-image: url(../galery/galery/1g_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 42vw;
    height: 70vh;
    border-radius: 10px;
    margin-top: 20px;
    background-position-y: center;
}

.amp_phone {
    margin-left: -4px;
}

.cursor_fotos {
    color: black;
    background: radial-gradient(circle, rgb(202 42 42) 11%, rgb(169 0 0) 86%);
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 333px;
    z-index: 300;
    font-size: 90px;
    cursor: pointer;
}

.empleado_item {
    background: #7aabd6;
    padding: 0px;
    color: black;
    border-radius: 5px;
    margin: 10px;
    width: 124px;
    text-align: center;
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
}

.m-left {
    margin-left: 10px;
}

#select_user_fast {
    display: none;
    visibility: hidden;
    margin-top: 16px;
    width: 200px;
    border: 1px solid black;
    text-align-last: center;
    padding: 7px;
    font-size: 19px;
    color: white;
    background: #c54242;
    border-radius: 10px;
    margin-bottom: 10px;
}

#delete_contacto {
    display: flex;
    visibility: visible;
    background: #000000;
    width: 98px;
    justify-content: center;
    font-size: 20px;
    height: auto;
    padding: 12px;
    color: white;
}

.delete_option {
    border-radius: 10px;
    display: flex;
    visibility: visible;
    background: #81ab1c;
    width: 105px;
    border: 1px solid black;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    height: auto;
    padding: 12px;
    color: white;
}

.buttons_options_delete {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
}

.box_delete {
    display: none;
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    padding: 20px;
    width: 321px;
    top: 155px;
    left: 32vw;
    border: 3px solid black;
    border-radius: 10px;
    background: white;
}

.flex {
    display: flex;
}

.box_put_all_db_dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'belleza';
}

.title_item_put_all_db_dates {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    background: #efb4f3;
    padding: 10px;
    border-radius: 10px;
}

.item_put_all_db_dates {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    border-radius: 5px;
    background: #eadbdb;
}

.item_put_all_db_dates_consultas {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    align-items: center;
}

.in_put_all_db_dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 19px;
}

.usall {
    user-select: all;
}

.buttons_options_dates {
    display: flex;
    justify-content: center;
}

#acepto_ver_horario {
    display: flex;
    visibility: visible;
    background: #000000;
    width: 98px;
    justify-content: center;
    font-size: 20px;
    height: auto;
    padding: 12px;
    color: white;
}

#concretado_horario {
    display: flex;
    visibility: visible;
    background: green;
    width: 98px;
    border: 1px solid black;
    justify-content: center;
    font-size: 20px;
    height: auto;
    padding: 12px;
    color: white;
}

#ventana_reserva {
    display: none;
    visibility: hidden;
    position: absolute;
    background: white;
    justify-content: center;
    width: 483px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 57px;
    padding-bottom: 25px;
}

#ventana_consultas {
    display: none;
    visibility: hidden;
    position: fixed;
    background: white;
    justify-content: center;
    width: 89vw;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 9px;
}

/*    display: flex;
    visibility: visible;
    position: fixed;
    background: white;
    width: 89vw;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
}*/

.listado_de_reservas {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    background: white;
    font-family: 'belleza';
    color: white;
}

.listado_de_db {
    display: none;
    visibility: hidden;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: white;
    font-family: 'belleza';
    color: white;
    user-select: all;
}

.listado_de_consultas {
    display: none;
    visibility: hidden;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    background: white;
    font-family: 'belleza';
    color: white;
}

.item_consultas {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.titles_listados {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.listado_de_reservas {
    display: none;
    visibility: hidden;
}

.item_reserva {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    user-select: all;
    background: #ff558859;
    margin: 3px;
    width: auto;
    border-radius: 10px;
}

.item_reserva a {
    background: #c54242;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 28px;
}

.horario_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7aabd6;
    color: black;
    border-radius: 5px;
    margin: 10px;
    width: 131px;
    height: 36px;
    padding: 0px;
    text-align: center;
}

.consultas_item {
    background: #7aabd6;
    padding: 20px;
    color: black;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    width: 200px;
}

.fecha_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7aabd6;
    padding: 0;
    color: black;
    border-radius: 5px;
    align-self: center;
    width: 100px;
    height: 36px;
    margin: 10px;
}

.nombre_item {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #7aabd6;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 229px;
    height: 18px;
    word-break: break-all;
    margin: 0px;
    text-transform: capitalize;
    user-select: all;
}

.telefono_item {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #7aabd6;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 18px;
    word-break: break-all;
    margin: 0px;
    text-transform: capitalize;
    user-select: all;
}

.email_item {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #7aabd6;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 264px;
    height: 18px;
    word-break: break-all;
    margin: 10px;
    user-select: all;
}

#textgalery {
    display: flex;
    visibility: visible;
}

#acepto_continuar {
    display: none;
    visibility: hidden;
}

#acepto_horario {
    display: none;
    visibility: hidden;
}

.hide {
    display: none;
    visibility: hidden;
}

.step .datos_reserva i {
    width: 10px;
    padding: 10px;
}

.step .datos_reserva .alineado_input_reserva {
    display: flex;
    justify-content: center;
    margin-left: 26px;
}

.amp_phone {
    margin-left: -4px;
}

.efectivo_pay, .card_pay, .transferencia_pay {
    width: 24px;
    height: 24px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.efectivo_pay {
    background-image: url(../imgs/efectivo.png);
}

.card_pay {
    background-image: url(../imgs/card-payment.png);
}

.transferencia_pay {
    background-image: url(../imgs/transferencia.png);
}

#logout {
    display: none;
    visibility: hidden;
    cursor: pointer;
    width: 57px;
    align-items: center;
    justify-content: space-around;
}

#dwdb {
    display: none;
    visibility: hidden;
    cursor: pointer;
    width: 114px;
    justify-content: space-around;
}

#viewconsults {
    display: none;
    visibility: hidden;
    cursor: pointer;
    width: 91px;
    justify-content: space-around;
}

#json {
    display: none;
    visibility: none;
}

#csv {
    display: none;
    visibility: hidden;
}

.option_pay {
    background: #ffffff;
    color: black;
    border: 2px black solid;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: center;
    width: 197px;
    transition-property: color, background;
    transition-duration: 1s;
}

.title_reserva {
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

.reserva_input {
    width: 223px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.reserva_input_in_phone {
    width: 155px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid black;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 2px;
}

.reserva_input_in_phone:hover {
    border: 0px solid black;
}

.all_phone {
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}

.metodo_pago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horarios_disponibles {
    display: none;
    flex-direction: column;
}

#horarios_title {
    margin-top: 10px;
}

.horario {
    background: #25262b;
    width: 62%;
    align-self: center;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 4px;
}

#imgstart {
    display: flex;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
}

.imgstartmo {
    position: relative;
    display: flex;
    width: 600px;
    height: 100%;
    border-bottom: 1px solid black;
}

.close_window {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    cursor: pointer;
    left: 88%;
    top: 5px;
    font-size: 36px;
}

#button_call_tel {
    display: flex;
    visibility: visible;
    background: red;
    width: 98px;
    border: 1px solid black;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    height: auto;
    padding: 12px;
    color: white;
}

.close_window_dates {
    width: 30px;
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 92%;
    top: 10px;
    font-size: 23px;
}

.steps_general_dual_option_price {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    border-radius: 7px;
}

.step_options {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    background: #ffffff;
    padding: 0px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step_options_price {
    margin-right: 10px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title_steps {
    margin-bottom: 20px;
    font-size: 15px;
}

#ver_disponibilidad {
    width: 160px;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin-top: 12px;
    display: none;
}
#tomarlibre {
    width: 160px;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin-top: 12px;
    display: none;
}

.panel_step {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

#calendario::placeholder {
    color: #ffffff;
    font-weight: bold;
}

.calendario {
    display: flex;
    justify-content: center;
    width: 124px;
    align-self: center;
    background: black;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 13px;
    border-radius: 18px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'belleza';
    font-weight: 100;
}

#step4, #step5{
    display: none;
    visibility: hidden;
}

#msj_prepago {
    width: 287px;
}

#whatsapp_reserva {
    background: green;
    border-radius: 10px;
    padding: 4px;
    color: white;
    cursor: pointer;
    margin-top: 26px;
    justify-content: center;
    display: flex;
}

#welcomeusername {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    font-family: 'belleza';
    color: white;
    width: 100%;
    padding: 20px 0px 20px 0px;
    align-items: baseline;
}

#welcome_with_login {
    display: none;
    visibility: hidden;
    margin-left: 10px;
}

#center_login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    background: white;
    color: black;
    padding: 0px;
    padding-bottom: 40px;
    text-align: center;
    z-index: 300;
    position: relative;
    width: 450px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: 'Muli';
    border-radius: 10px;
    border: 2px black solid;
}

.option {
    background: black;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    cursor: pointer;
    align-self: center;
    width: 238px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color, background;
    transition-duration: 1s;
}
.tomarlibre {
    background: rgb(47, 116, 1);
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    cursor: pointer;
    align-self: center;
    width: 238px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color, background;
    transition-duration: 1s;
}
#cerrado_agotado{
    display: none;
}
.cerrado_agotado {
    background: rgb(185, 0, 0);
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    cursor: pointer;
    align-self: center;
    width: 238px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color, background;
    transition-duration: 1s;
}
.option i {
    margin-left: 10px;
}

.option:hover {
    color: black;
    background: white;
}

.submit_default {
    text-align: center;
    cursor: pointer;
    align-self: center;
    background: rgb(67 99 255);
    font-family: "belleza";
    padding: 5px;
    border: 1.1px solid #0b01a5;
    border-radius: 3px;
    margin-bottom: 25px;
    color: white;
    width: 314px;
    font-size: 17px;
    margin-top: 10px;
}

.help {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 89%;
    z-index: 200;
    font-size: 33px;
    background: white;
    right: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.help_reserva {
    display: flex;
    position: fixed;
    top: auto;
    z-index: 200;
    font-size: 33px;
    background: white;
    right: 25px;
    bottom: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.ti_contact {
    font-weight: bold;
    font-family: "belleza";
    background-color: rgb(19 0 101 / 75%);
    padding: 9px;
    color: white;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
}

.comment_box {
    font-family: "belleza";
    word-wrap: break-word;
    width: 300px;
    padding: 5px;
    font-size: 17px;
    overflow: hidden;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    resize: none;
    border: 1px solid black;
}

.contact_input {
    font-family: "belleza";
    width: 300px;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid black;
    transition-property: background;
    transition-duration: 1s;
}

.contact_input:hover {
    background-color: rgb(162, 248, 173);
}

.eapps-link {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../galery/vintage.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

.reproductor_de_fotos {
    width: 666px;
    margin-top: 20px;
    background: #ffffffbf;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
}

.loading_button {
    width: 75%;
    flex-direction: column;
    padding: 15px;
    display: none;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: white;
    font-family: 'belleza';
    border-radius: 3px;
}

.loading {
    background-image: url(../imgs/loading.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.show_foto_reproductor {
    background-image: url(../galery/galery/1g_big.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 50px;
}

.prev_mini {
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.prev_mini:hover {
    border: 1px solid mediumvioletred;
}

.prev_mini_foto:hover {
    filter: grayscale();
}

.previsualizar_fotos {
    display: flex;
    flex-flow: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.buttons_reproductor_de_fotos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#marcas_working {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: auto;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231 228 234 / 90%);
    text-align: center;
    padding: 10px;
}

#degradados_style {
    margin-top: 10px;
    display: flex;
    width: 297px;
    align-self: center;
    border-radius: 10px;
}

#marcas_working img {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 16vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
}

#mapa {
    display: flex;
    width: 95%;
}

.slider1 {
    background-image: url(../galery/1.jpg);
    width: auto;
    height: auto;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider2 {
    background-image: url(../galery/2.jpg);
    width: auto;
    height: auto;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider3 {
    background-image: url(../galery/3.jpg);
    width: auto;
    height: auto;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider4 {
    background-image: url(../galery/4.jpg);
    width: auto;
    height: auto;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider5 {
    background-image: url(../galery/5.jpg);
    width: auto;
    height: auto;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div_welcome_home {
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
}

.description_section {
    font-family: "belleza";
    padding: 30px;
    background-color: rgb(153 21 19 / 91%);
    text-align: center;
    width: -webkit-fill-available;
    padding: 10px;
    color: white;
}

.fb-comments {
    text-align: center;
}

.border-mapa {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    background: black;
    display: flex;
    justify-content: center;
    height: 228px;
    align-items: center;
}

.title_section {
    font-size: 30px;
    font-family: 'belleza';
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

main {
    z-index: 300;
    position: fixed;
    font-family: "belleza";
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 68px;
    align-items: center;
    background: radial-gradient(circle, rgb(253 105 105) 01%, rgb(169 0 0) 86%);
}

.menu_desk {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
}

.menu_desk a {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 24px;
    background: white;
    color: black;
    border-radius: 10px;
    
}

.menu_desk a:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    color: white;
    background: black;
}

.menu_desk a i {
    cursor: pointer;
    margin-left: 7px;
    margin-top: 5px;
}

#left_button_galery {
    margin-right: 437px;
}

#right_button_galery {
    margin-left: 437px;
}

.socialmedia_desk {
    z-index: 200;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    background: white;
    border: 1px solid black;
    border-right: none;
    align-items: center;
    position: fixed;
    top: 412px;
    right: 0px;
    flex-direction: column;
}

.socialmedia_desk a {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.socialmedia_desk a:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    color: white;
}

.socialmedia_desk a i {
    font-size: 40px;
}

#access_user {
    z-index: 120;
    background: radial-gradient(circle, rgb(0 0 0) 11%, rgb(30 30 31 / 82%) 86%);
    color: white;
    display: flex;
    font-family: 'belleza';
    align-items: center;
    width: 150px;
    justify-content: space-between;
    padding: 9px;
    left: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

#spot {
    bottom: 0px;
    background: radial-gradient(circle, rgb(0 0 0) 11%, rgb(30 30 31) 86%);
    display: flex;
    color: white;
    flex-direction: row;
    padding: 14px;
    justify-content: center;
}

#spot div {
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    z-index: 120;
    flex-direction: column;
    text-align: center;
    color: #3c2020;
    font-family: "belleza";
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
}

@media only screen and (max-width: 900px) {
    #marcas_working img {
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .socialmedia_desk a i {
        font-size: 45px;
    }
    .mg_max {
        margin-right: 0px;
    }
}

.menu_desk a{
    padding: 4px;
}

#left, #right {
    width: 75px;
    margin-top: 16%;
    margin-bottom: 10%;
    position: absolute;
    z-index: 100;
    background-color: rgb(119 32 214 / 21%);
    transition-property: background-color;
    transition-duration: 0.5s;
    padding: 1%;
    cursor: pointer;
}

#left:hover, #right:hover {
    background-color: rgba(253, 253, 253, 1);
    transition-property: background-color;
    transition-duration: 0.5s;
}

#left {
    left: 0;
    border-radius: 0px 10px 10px 0px;
}

#right {
    right: 0;
    border-radius: 10px 0px 00px 10px;
}

#leftmo, #rightmo {
    display: none;
}

#slider2 {
    display: none;
}

#slider {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
}

#imgstart:hover {
    color: black;
}

.presentacion {
    display: none;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    /*transition: all 0.5s;*/
}

.textoslider {
    width: 70%;
    display: none;
    text-align: center;
    color: yellow;
    font-size: 35px;
    font-family: 'belleza';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.facebook_section {
    padding: 10px;
    border: 2px black solid;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-bottom: 56px;
    border-radius: 5px;
    width: auto;
}

.facebook_section iframe {
    width: 300px!important;
    left: 0!important;
    position: relative!important;
    max-width: 100%;
}

.comentarios_fb {
    font-size: 24px;
    font-weight: bold;
    font-family: "belleza";
}

.botonsubir {
    text-align: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
    background: radial-gradient(circle, rgb(156 0 0) 11%, rgb(31 31 31) 86%);
    font-size: 50px;
    font-family: 'belleza';
    position: absolute;
    left: 50%;
    width: 500px;
    top: 53%;
    padding: 2%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px black;
    transition-property: background;
    transition-duration: 0.5s;
    letter-spacing: 2px;
}

.botonsubir i {
    margin-left: 10px;
}

.botonsubir:hover {
    background: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.optionw-auto {
    background: black;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    display: flex;
    width: 80px;
    height: 73px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #ventana_reserva {
        width: 99%;
    }
    .item_put_all_db_dates {
        width: 87vw;
    }
    #go_navidad {
        width: 29px;
        height: 29px;
        top: 4%;
        left: 75%;
    }
    .nombre_item {
        justify-content: center;
        display: flex;
        align-items: center;
        background: #7aabd6;
        padding: 5px;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        width: 26vw;
        height: 61px;
        word-break: break-all;
        margin: 10px;
    }
    .email_item {
        user-select: all;
        justify-content: center;
        display: flex;
        align-items: center;
        background: #7aabd6;
        padding: 5px;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        width: 40vw;
        height: 61px;
        word-break: break-all;
        margin: 10px;
    }
    .new_preview_foto {
        background-image: url(../galery/galery/1g_big.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 75vw;
        height: 75vw;
        border-radius: 20px;
    }
    #left_button_galery {
        left: 18px;
    }
    #right_button_galery {
        right: 18px;
    }
    .cursor_fotos {
        display: flex;
        position: absolute;
        top: 58vw;
        z-index: 300;
        font-size: 90px;
        cursor: pointer;
    }
    .show_foto_reproductor {
        width: 60vw;
        height: 60vw;
    }
    .reproductor_de_fotos {
        width: 89vw;
        height: auto;
        margin-top: 20px;
    }
    .socialmedia_desk_fotos {
        z-index: 200;
        display: flex;
        border-radius: 10px;
        background: rgb(110, 132, 196);
        background: radial-gradient(circle, rgb(230 65 108) 11%, rgb(220 69 132) 86%);
        background: white;
        align-items: center;
        position: absolute;
        top: 134px;
        flex-direction: row;
    }
    .socialmedia_desk_fotos a {
        cursor: pointer;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        font-size: 29px;
    }
    .previsualizar_fotos {
        display: flex;
        flex-flow: wrap;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .box_delete {
        align-self: center;
        width: 76vw;
        top: 50vh;
        left: 7vw;
    }
    .empleado_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #7aabd6;
        padding: 5px;
        height: 20px;
        font-weight: bold;
        font-size: 13px;
        color: black;
        border-radius: 5px;
        margin: 3px;
        width: 100px;
        text-align: center;
    }

    .close_window_dates {
        width: 30px;
        display: flex;
        position: absolute;
        cursor: pointer;
        left: 92%;
        top: 10px;
        font-size: 23px;
    }
    .item_reserva a {
        background: #260035;
        border: 1px solid white;
        padding: 5px;
        color: white;
        border-radius: 5px;
        margin: 3px;
        width: 28px;
        height: 20px;
        text-align: center;
        font-size: 21px;
    }
    
    .fecha_item {
        background: #7aabd6;
        padding: 5px;
        font-weight: bold;
        color: black;
        border-radius: 5px;
        margin: 3px;
        width: 65px;
        height: 20px;
        text-align: center;
        font-size: 13px;
    }
    .horario_item {
        font-weight: bold;
        background: #7aabd6;
        padding: 5px;
        color: black;
        border-radius: 5px;
        margin: 3px;
        width: 40px;
        height: 20px;
        text-align: center;
        font-size: 13px;
    }
    .item_reserva {
        justify-content: space-around;
    }
    .titles_listados {
        justify-content: space-around;
    }
    #textgalery {
        display: none;
        visibility: hidden;
    } 
    
    .socialmedia_desk_reserva {
        z-index: 200;
        display: flex;
        border-radius: 10px 10px 0px 0px;
        background: radial-gradient(circle, rgb(243 3 3) 11%, rgb(93 44 44) 86%);
        align-items: center;
        position: fixed;
        bottom: 0px;
        flex-direction: row;
    }
    .socialmedia_desk_reserva i {
        font-size: 27px;
        padding: 7px;
        cursor: pointer;
    }
    .title_steps {
        font-size: 13px;
    }
    .step {
        width: 95%;
        height: auto;
    }
    .optionw-auto {
        background: black;
        color: white;
        border-radius: 10px;
        margin: 5px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .optionw-auto i {
        margin-right: 5px;
    }
    .w-auto {
        width: 201px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title_section {
        font-size: 18px;
        letter-spacing: 4px;
    }
    .submit_default {
        cursor: pointer;
        background: rgb(62 31 31);
        font-family: "belleza";
        padding: 5px;
        font-size: 21px;
        border: 1.1px solid black;
        border-radius: 3px;
        margin-bottom: 25px;
        width: 82%;
        color: white;
        margin-top: 25px;
    }
    #marcas_working img {
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 70px;
        height: auto;
        align-items: center;
        justify-content: space-around;
        user-select: none;
        cursor: pointer;
    }
    .socialmedia_desk {
        top: 62%;
    }
    #img1mo, #img2mo, #img3mo, #img4mo, #img5mo {
        display: none;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
    }
    .imgstartmo {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
    }
    #presentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #slider {
        display: none;
    }
    .movecenter {
        right: 0;
        left: 0;
    }
    #slider2 {
        background-image: url(../galery/presentation.jpg);
        width: 100%;
        display: flex;
        position: relative;
    }
    #leftmo, #rightmo {
        display: flex;
        width: 11%;
        margin-top: 36%;
        background-color: rgba(253, 253, 253, 0.2);
        transition-property: background-color;
        transition-duration: 0.5s;
        cursor: pointer;
        padding: 1%;
        z-index: 100;
    }
    #leftmo:hover, #rightmo:hover {
        transition-property: background-color;
        transition-duration: 0.5s;
        background-color: rgba(253, 253, 253, 1);
    }
    #leftmo {
        position: absolute;
        left: 0;
        height: 100px;
        border-radius: 0px 10px 10px 0px;
    }
    #rightmo {
        right: 0;
        height: 100px;
        position: absolute;
        margin-left: 100px;
        border-radius: 10px 0px 00px 10px;
    }
    .textoslider {
        width: 70%;
        text-align: center;
        color: yellow;
        font-size: 30px;
        font-family: 'belleza', helvetica;
        position: absolute;
        left: 50%;
        margin-top: 34%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
        top: 0;
        z-index: 100;
    }
    .botonsubir {
        color: white;
        
        background: radial-gradient(circle, rgb(156 0 0) 11%, rgb(31 31 31) 86%);
        font-size: 30px;
        font-family: 'belleza';
        position: absolute;
        left: 50%;
        margin-top: 50%;
        padding: 2%;
        top: 0;
        z-index: 99;
    }

}

@media only screen and (max-width: 600px) {
    .menu_desk a {
        font-size: 20px;
    }
    #eapps-instagram-feed-1 {
        width: 376px;
    }
    .botonsubir {
        font-size: 30px;
        width: 226px;
        padding: 10px;
    }
    .textoslider {
        width: 70%;
        text-align: center;
        color: yellow;
        font-size: 22px;
        font-family: 'belleza', helvetica;
        position: absolute;
        left: 50%;
        margin-top: 30%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
        top: 0;
        z-index: 100;
    }
}

@media only screen and (max-width: 500px) {
    .h_m {
        font-size: 21px;
    }
    .option {
        background: black;
        color: white;
        font-size: 13px;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 4px;
        cursor: pointer;
        align-self: center;
        width: 197px;
        transition-property: color, background;
        transition-duration: 1s;
    }
    .optionw-auto {
        background: black;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 13px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    #logo {
        background-image: url(../imgs/icon.png);
        width: 43px;
        height: 42px;
        align-self: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0px;
        margin-left: 1px;
    }
    .telefono_item {
        display: none;
    }
    .buttons_options_dates {
        display: flex;
        flex-direction: column;
    }
    .socialmedia_desk_fotos {
        left: 6vw;
    }
    .menu_desk a {
        font-size: 20px;
    }
    .title_steps {
        font-size: 15px;
    }
    .step_options {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .option {
        font-size: 13px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .steps_general_dual_option_price {
        border: none;
        display: flex;
        align-items: baseline;
        margin-top: 15px;
    }
    .step_options_price {
        margin-right: 3px;
        padding: 0px;
        border-radius: 10px;
        margin-top: 0px;
    }
    .optionw-auto {
        font-size: 13px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #step2-women .steps_general_dual_option_price {
        align-items: baseline;
    }
}

@media only screen and (max-width: 360px) {
    #marcas_working img {
        margin-bottom: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 52px;
        align-items: center;
        justify-content: space-around;
        user-select: none;
        cursor: pointer;
    }
    .empleado_item {
        width: 60px;
    }
    .menu_desk a {
        font-size: 15px;
    }
    .option {
        font-size: 13px;
        width: 200px;
    }
}

@media only screen and (max-width: 320px) {
    #button_call_tel {
        padding: 5px
    }
    #concretado_horario {
        padding: 5px;
    }
    #acepto_ver_horario {
        padding: 5px;
    }
    .in_put_all_db_dates {
        font-size: 11px;
    }
    #delete_contacto {
        padding: 5px;
    }
    .horario_item {
        font-size: 10px;
    }
    .empleado_item {
        font-size: 9px;
    }
    .facebook_section {
        width: 89%;
    }
    .optionw-auto {
        font-size: 13px;
    }
    .option {
        font-size: 13px;
        width: 193px;
    }
    #access_user {
        width: 121px;
        justify-content: center;
    }
    #mapa {
        width: 290px;
        height: 214px;
    }
    .border-mapa {
        width: 300px;
        height: 224px;
    }
    .title_section {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .menu_desk a {
        font-size: 12px;
        font-weight: bold;
    }
    .menu_desk {
        align-items: baseline;
    }
    #spot {
        padding: 10px;
        justify-content: center;
    }
    footer {
        font-size: 13px;
    }
    .comentarios_fb {
        font-size: 20px;
    }
    .title_steps {
        font-size: 15px;
    }
    .socialmedia_desk {
        top: 62%;
    }
    .help {
        top: 84%;
    }
    #logo {
        width: 43px;
        height: 42px;
    }
    #marcas_working img {
        margin-bottom: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 52px;
        align-items: center;
        justify-content: space-around;
        user-select: none;
        cursor: pointer;
    }
}