<div class='div_welcome_home' id="div_welcome_home">



        <div class="title_section">Contacto</div>


        <div class="description_section">Ponete en contacto conmigo.</div>

        <p class="ti_contact">Nombre y apellido:</p>

        <input class="contact_input" placeholder="Ingrese su nombre y apellido" id="name_contact_c"><i id="check_name_contact" class="asd"></i>
        <p class="ti_contact">Email:</p>
        <input class="contact_input" placeholder="Ingrese su correo@" id="email_contact_c"><i id="check_email_contact" class="asd"></i>
        <p class="ti_contact">Telefono:</p>
        <input class="contact_input" placeholder="Ingrese su numero de telefono" id="phone_contact_c"><i id="check_phone_contact" class="asd"></i>
        <p class="ti_contact">Comentario:</p>
        <textarea class="comment_box" placeholder="Cuentenos, ¿Cual es su consulta?..."
            id="comment_contact_c"></textarea><i id="check_comment_contact" class="asd"></i>
        <input type="button" id="submit_contact"  value="Enviar" class="submit_default">
        <div class="loading_button">
            <div class="loading"></div>
            Enviando
        </div>
        

 
    <div class="title_section">¿Dónde me encuentro?</div>
    <div class="description_section">Alberdi 1045 B 9 de julio, Rafaela, Santa Fe. <br>Para mas informacion haz clic en la boton de Whatsapp!</div>
    <div class="border-mapa">
        <iframe id= "mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.2182651516541!2d-61.503114326792776!3d-31.247234683174728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95caae22d2aee8cb%3A0x4fcb8eedd5356f2a!2sJuan%20Bautista%20Alberdi%201045%2C%20S2300%20Rafaela%2C%20Santa%20Fe%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1615423048562!5m2!1ses-419!2scl" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!--<div class="title_section">Trabaja con nosotros</div>

        

    <div class="description_section">Mandanos tu curriculum a nuestro whatsapp!</div>-->

</div>