<div class='div_welcome_home' id="div_welcome_home">

        <div class="title_section">Galeria de fotos</div>
        <div class="reproductor_de_fotos">
                <div id="right_button_galery" class="cursor_fotos"><i class="fas fa-angle-right"></i></div>

                <div id="left_button_galery" class="cursor_fotos"><i class="fas fa-angle-left"></i></div>
                <div id="show_foto_reproductor" class="show_foto_reproductor">

                </div>

                <div class="buttons_reproductor_de_fotos">

                        

                        <div class="previsualizar_fotos">

 
                                
                        
                        </div>

                </div>
                <div class="preview_foto">
                        <i class="close_window_fotos fas fa-window-close"></i>
                        <div id="new_preview_foto" class="new_preview_foto">

                        </div>
                </div>

        </div>
        <div id="socialmedia_desk_fotos" class="socialmedia_desk_fotos">
                <a id="facebook_social_f"><i class="fab fa-facebook"></i></a>
                <a id="instagram_social_f"><i class="fab fa-instagram-square"></i></a>
                <a id="whatsapp_social_f"><i class="fab fa-whatsapp-square"></i></a>
        </div>



</div>