<div class='div_welcome_home' id="div_welcome_home">
    
    <div id="slider" class="slider">
        <img id="left" src={{url_for('static', filename='imgs/left.png')}}>
        <img id="right" src={{url_for('static', filename='imgs/right.png')}}>
        <img rel="preload" alt="Peluqueria en rafaela santa fe" id="imgstart" class="click_slider" src={{url_for('static', filename='galery/10.jpg')}}>
        <p id="texto1" class="textoslider">Bienvenido a Ariel Luque, peluqueria para caballeros</p>
        <a id="reservarya_boton" class="botonsubir">Reservar ya<!--<p id="go_navidad"></p>--><i class="fas fa-check-circle"></i></a>
    </div>

    <div id="slider2" class="slider2">
        <img id="leftmo" src={{url_for('static', filename='imgs/left.png')}}>
        <img id="rightmo" src={{url_for('static', filename='imgs/right.png')}}>
        <img rel="preload" alt="Peluqueria en rafaela, santa fe" class="imgstartmo" id="imgstartmo" src={{url_for('static', filename='galery/21.jpg')}}>
        <p id="texto1mo" class="textoslider">Bienvenido a Ariel Luque, peluqueria para caballeros</p>
        <a id="reservarya_boton_m" class="botonsubir">Reservar ya<!--<p id="go_navidad"></p>--><i class="fas fa-check-circle"></i></a>
    </div>
    <!--<div class="title_section">Marcas con las que trabajamos:</div>
    <div id="marcas_working">
        <img alt="Peluqueria en rafaela santa fe" src={{url_for('static', filename='galery/wella.jpg')}}>
        <img alt="Peluqueria en rafaela santa fe" src={{url_for('static', filename='galery/alfapart.jpg')}}>
        <img alt="Peluqueria en rafaela santa fe" src={{url_for('static', filename='galery/coffepremium.jpg')}}>
        <img alt="Peluqueria en rafaela santa fe" src={{url_for('static', filename='galery/loreal.jpg')}}>
        <img alt="Peluqueria en rafaela santa fe" src={{url_for('static', filename='galery/bbcos.png')}}>
    </div>-->

    <div class="title_section">¿Dónde me encuentro?</div>
    <div class="description_section">Lisandro de la torre 428, Rafaela, Santa Fe. <br>para mas informacion haz clic en la sección "Contacto"</div>
    <div class="border-mapa">
        <iframe id ="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1705.5270362681956!2d-61.50235579939773!3d-31.246926408301313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDE0JzQ5LjIiUyA2McKwMzAnMDQuNyJX!5e0!3m2!1ses!2scl!4v1628055067432!5m2!1ses!2scl" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

</div>