<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="google-site-verification" content="NA0ZmHVFbaE4s4pGwcRwApvAsoflM9uiHfFtuj8FXx4" />
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta property="og:title" content="Ariel Luque Peluqueria de caballeros| Peluqueria en Rafaela, Santa Fe">
    <meta property="og:image" content="{{url_for('static', filename='imgs/icon.png')}}">
    <meta name="google-site-verification" content="RZsnyQakR20FThoUjf-RtDZUmc9Rk0TEDD_JgBPXeAM" />
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/icon.jpg')}}">
    <meta name="keywords"
        content="" />
    <meta name="description"
        content="Barberia en rafaela, Santa fe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}?v=48">
    <link rel="stylesheet" href="{{url_for('static', filename='js/ui/jquery-ui.css')}}?v=2">
    <script src="{{url_for('static', filename='js/jq.js')}}"></script>
    <script src="{{url_for('static', filename='js/js.cookie.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}?v=48"></script>
    <script src="https://kit.fontawesome.com/b576dc3275.js" crossorigin="anonymous"></script>

    <title>Ariel Luque Peluqueria de Caballeros | Barbería en rafaela, Peluqueria en Santa fe</title>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=196983182189316&autoLogAppEvents=1" nonce="XZQ0ffWX"></script>
    <!--<div id="e_overscreen"></div>-->
    <main>
        <a id="logo"></a>
        <div id="menu_desk" class="menu_desk">
            <a id="inicio">Inicio</a>
            <a id="reservarya">Reservar ya<i class="fas fa-cut"></i></a>
            <a id="galeria">
                <!--<div id="textgalery">Galeria de</div> -->Fotos
                <!--<i class="fas fa-camera-retro"></i>-->
            </a>
            <a id="contacto">Contacto</a>
        </div>
    </main>
    <div id="socialmedia_desk" class="socialmedia_desk">
        <a id="facebook_social"><i class="fab fa-facebook"></i></a>
        <a id="instagram_social"><i class="fab fa-instagram-square"></i></a>
        <a id="whatsapp_social"><i class="fab fa-whatsapp-square"></i></a>
    </div>

    <div class='div_welcome_home' id="div_welcome_home">

    </div>
    <div class="facebook_section">

        <div class="comentarios_fb">Comentarios:</div>

        <div id="fbcomment" class="fb-comments" data-href="http://arielluque.com" data-numposts="5" data-width="auto"></div>

        <div class="fb-like" data-href="https://facebook.com/Ariel-Luque-Peluquería-De-Caballeros-106319134631347" data-width="auto" data-layout="button"

        data-action="like" data-size="large" data-share="true"></div>

    </div>
    <i id="help" class="fas fa-question-circle help"></i>
</body>
<footer alt="peluquerias en rafaela">
    <p id="access_user">
        Acceso exclusivo <i id="user_key" class="fas fa-key"></i>
    </p>
    <div id="spot">
        <div><div><strong>Peluqueria en rafaela, Santa fe</strong> Ariel Luque Peluqueria <strong>de las mejores peluquerías para caballeros de Rafaela, Santa fe.</strong></div>
        <div>Este sitio web se desarrollo por: <br><a href="http://www.mathiasbenigno.com">Mathias Benigno</a><a id="versionapp"> (Versión 1.3.8)</a></div>    </div>
    </div>

    
</footer>

</html>