<div class='div_welcome_home' id="div_welcome_home">


    <div id="menu_login" class="menu_login">
        <div id="welcomeusername" class="">
            <div id="welcome_without_login">Bienvenido!</div>
            <div id="welcome_with_login"></div>
        </div>

        <div class="buttons_menu">
            <div class="mg_max" id='viewreservas'>Reservas<i class="fas fa-mug-hot"></i></div>
            <div class="mg_max" id='viewconsults'>Mensajes<i class="fas fa-envelope-open-text"></i></div>
            <div class="mg_max" id='dwdb'>Base de datos<i class="fas fa-database"></i></div>
            <div class="mg_max" id='logout'>Salir<i class="fas fa-sign-out-alt"></i></div>
        </div>

    </div>

    <div id="welcomeusernamedescripcion" class=" description_section">Area restringida solo para Peluqueria Ariel luque.</div>
    <div id="center_login">
        <p class="ti_contact">Usuario:</p>
        <input class="contact_input" placeholder="Ingrese su nombre de usuario" id="usuario_login">
        <p class="ti_contact">Contraseña:</p>
        <input type="password" class="contact_input" placeholder="Ingrese su contraseña" id="password_login">
        <input type="button" id="submit_login" value="Entrar" class="submit_default">
    </div>
    <select id="select_user_fast" name="select">
        <option value="value1" selected>Todos</option>
        <option value="value2">Adrian Linarez</option>
        <option value="value3">Sebastian Garrido</option>

    </select>
    <div class="loading_button">
        <div class="loading"></div>
        Cargando
    </div>
    <div id="listado_de_reservas" class="listado_de_reservas">


        <div class="titles_listados">
            <div id="horarios_lista_title">Horario:</div>
            <div id="fechas_lista_title">Fecha:</div>
            <div id="fechas_lista_title">Profesional:</div>
            <div id="boton_lista_title">Ver mas:</div>
        </div>

    </div>
    <div id="listado_de_db" class="listado_de_db">

        <div class="titles_listados">
            <div id="nombre_lista_title">Nombre:</div>
            <div id="email_lista_title">Email:</div>
            <div id="boton_lista_title">ver mas:</div>
        </div>

    </div>

    <div id="listado_de_consultas" class="listado_de_consultas">
        <div class="titles_listados">
            <div id="nombre_lista_title">Nombre:</div>
        </div>

    </div>

    <div id="ventana_reserva" class="ventana_reserva">
        <i class="close_window_dates fas fa-window-close"></i>
        <div class="box_put_all_db_dates">
            <div class="in_put_all_db_dates">
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">nombre:</div>
                    <div id="put_db_name"></div>
                </div>
                <div id="item_telefono" class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">telefono:</div>
                    <div class="usall" id="put_db_phone"></div>
                </div>
                <div id="item_email" class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">email:</div>
                    <div class="usall" id="put_db_email"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">fecha:</div>
                    <div id="put_db_fecha"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">horario:</div>
                    <div id="put_db_horario"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">servicio:</div>
                    <div id="put_db_servicio"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">precio:</div>
                    <div id="put_db_precio"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">pago:</div>
                    <div id="put_db_pago"></div>
                </div>
                <div class="item_put_all_db_dates">
                    <div class="title_item_put_all_db_dates">Profesional:</div>
                    <div id="put_db_empleado"></div>
                </div>

            </div>

            <div class="buttons_options_dates">
                <div id="acepto_ver_horario" class="option">Aceptar</div>
                <div id="concretado_horario" class="option">Eliminar</div>
                <a id="button_call_tel" href="tel:" class="option">Llamar <i class="fas fa-phone"></i></a>
                <div id="box_delete" class="box_delete">
                    <div>¿Seguro que quieres eliminar la reserva? <br>
                        una vez que toques en "Eliminar", se eliminara definitivamente.</div>
                    <div class="buttons_options_delete">
                        <div class="delete_option" id="confirm_delete">Eliminar <i class="m-left fas fa-trash-alt"></i>
                        </div>
                        <div class="delete_option" id="cancelar_delete">Cancelar</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="ventana_consultas" class="ventana_consultas">
        <i class="close_window_dates fas fa-window-close"></i>
        <div class="box_put_all_db_dates">
            <div class="in_put_all_db_dates">
                <div class="item_put_all_db_dates_consultas">
                    <div class="title_item_put_all_db_dates">Nombre:</div>
                    <div id="put_db_consulta_names"></div>
                </div>
                <div id="item_telefono" class="item_put_all_db_dates_consultas">
                    <div class="title_item_put_all_db_dates">Telefono:</div>
                    <div id="put_db_consulta_phone"></div>
                </div>
                <div id="item_email" class="item_put_all_db_dates_consultas">
                    <div class="title_item_put_all_db_dates">Email:</div>
                    <div id="put_db_consulta_email"></div>
                </div>
                <div class="item_put_all_db_dates_consultas">
                    <div class="title_item_put_all_db_dates">Comentario:</div>
                    <div id="put_db_consulta_comentario"></div>
                </div>
            </div>

            <div class="buttons_options_dates">
                <div id="acepto_ver_horario" class="option">Aceptar</div>
                <div id="delete_contacto" class="option">Eliminar</div>
                <a id="button_call_tel" href="tel:" class="option">Llamar <i class="fas fa-phone"></i></a>
                <div id="box_delete_contacto" class="box_delete">
                    <div>¿Seguro que quieres eliminar este mensaje? <br>
                        una vez que toques en "Eliminar", se eliminara definitivamente.</div>
                    <div class="buttons_options_delete">
                        <div class="delete_option" id="confirm_delete_c">Eliminar <i
                                class="m-left fas fa-trash-alt"></i></div>
                        <div class="delete_option" id="cancelar_delete_c">Cancelar</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


</div>