<div class='div_welcome_home' id="div_welcome_home">
    <!--<div id="sliderbackground" class="sliderbackground">
        <img class="imgstartmo" id="imgstartmo_reserva" src={{url_for('static', filename='galery/1.jpg')}}>
    </div>-->
    <div id="panel_step" class="panel_step">
        <!--
        <div id="step1" class="step">
            <i class="close_window fas fa-window-close"></i>
            <div class="steps_general_dual_option_price">
                <div class="step_options">
                    <div class="title_steps"> Seleccione que servicio quiere:</div>
                    <div id="step_option1" class="option w-auto">Corte Tradicional</div>
                    <div id="step_option2" class="option w-auto">Corte Degrade</div>
                    <div id="step_option3" class="option w-auto">Perfilado de barba</div>
                    <div id="step_option4" class="option w-auto">Perfilado de ceja</div>
                    <div id="step_option5" class="option w-auto">Lineas</div>
                    <div id="step_option6" class="option w-auto">Mascarilla puntos negros</div>
                    <div id="step_option7" class="option w-auto">Cortes + barba</div>
                </div>
                <div class="step_options_price">
                    <div class="title_steps"> Precio:</div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option1_price">7000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option2_price">7000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option3_price">5000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option4_price">2000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option5_price">1000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option6_price">6000</div>
                    </div>
                    <div class="optionw-auto">
                        <i class="fas fa-dollar-sign"></i>
                        <div id="step_option7_price">11000</div>
                    </div>

                </div>
            </div>
            <img id="degradados_style" src={{url_for('static', filename='galery/degradado_style.jpeg')}}>

        </div>
        <div id="step2" class="step">
            <i class="close_window fas fa-window-close"></i>
            <div class="title_steps"> Seleccione a su barbero</div>
            <div id="Adrian_linarez" class="option">Adrian Linarez</div>
            <!--<div id="Ivan_leonardo" class="option">Ivan Leonardo</div>
            <div id="Sebastian_garrido" class="option">Sebastian Garrido</div>
        </div>-->
        <div id="step3" class="step">
            <i class="close_window fas fa-window-close"></i>
            <div class="title_steps"> Seleccione fecha y hora de reserva:</div>
            <input type="text" class="calendario" placeholder="Aqui" id="calendario" name="" readonly="">
            <div id="ver_disponibilidad" class="option">Ver disponibilidad</div>
            <div id="tomarlibre" class="tomarlibre">Tomar día libre</div>
            <div id="cerrado_agotado" class="cerrado_agotado">Horarios agotados <br>para este día</div>
            <div class="horarios_disponibles" id="horarios_disponibles">
                <div id="horarios_title" class="title_steps">Seleccione un horario disponible</div>
                <div class="horario" id="horario1">09:00</div>
                <div class="horario" id="horario2">09:30</div>
                <div class="horario" id="horario3">10:00</div>
                <div class="horario" id="horario4">10:30</div>
                <div class="horario" id="horario5">11:00</div>
                <div class="horario" id="horario6">11:30</div>
                <div class="horario" id="horario7">12:00</div>
                <div class="horario" id="horario8">12:30</div>
                <div class="horario" id="horario9">13:00</div>
                <div class="horario" id="horario10">13:30</div>
                <div class="horario" id="horario11">14:00</div>
                <div class="horario" id="horario12">14:30</div>
                <div class="horario" id="horario13">15:00</div>
                <div class="horario" id="horario14">15:30</div>
                <div class="horario" id="horario15">16:00</div>
                <div class="horario" id="horario16">16:30</div>
                <div class="horario" id="horario17">17:00</div>
                <div class="horario" id="horario18">17:30</div>
                <div class="horario" id="horario19">18:00</div>
                <div class="horario" id="horario20">18:30</div>
                <div class="horario" id="horario21">19:00</div>
                <div class="horario" id="horario22">19:30</div>
                <div class="horario" id="horario23">20:00</div>
                <div id="acepto_continuar" class="title_steps">Haz click en "acepto" para continuar</div>
                <div id="acepto_horario" class="option">Acepto</div>
            </div>
        </div>
        <div id="step4" class="step">
            <i class="close_window fas fa-window-close"></i>
            <div class="datos_reserva">
                <div class="title_reserva">Datos de la reserva:</div>
                <p class="ti_reserva">Nombre y apellido:</p>
                <div class="alineado_input_reserva">
                    <input class="reserva_input" placeholder="Ingrese su nombre y apellido" id="name_reserva"><i
                        id="check_name_reserva" class="asd"></i>
                </div>

                

                <p class="ti_reserva">Telefono:</p>
                <div class="amp_phone">
                    <a class="all_phone">+54<input class="reserva_input_in_phone" placeholder="Ingrese su numero" id="phone_reserva"><i
                        id="check_phone_reserva" class="asd"></i></a>
                </div>

                <p class="ti_reserva">Email(opcional):</p>
                <div class="alineado_input_reserva">
                    <input class="reserva_input" placeholder="Ingrese su correo@" id="email_reserva"><i
                        id="check_email_reserva" class="asd"></i>
                </div>

            </div>
            
            <div class="metodo_pago">
                <!--
                <div id="title_reserva" class="title_reserva">*Recuerda no dejar espacios en blanco*</div>

                <div id="title_reserva" class="title_reserva"> Seleccione su metodo de pago:</div>
                <div class="option_pay" id="efectivo">
                    <div id="metodo_efectivo">Efectivo</div>
                    <i class="efectivo_pay"></i>
                </div>
                <div class="option_pay" id="mercadopago">
                    <div id="metodo_transferencia">Mercado Pago</div>
                    <i class="transferencia_pay"></i>
                </div>
                <!--
                <div class="option_pay">
                    <div id="metodo_debito" >Tarjeta de Debito</div>
                    <i class="card_pay"></i>
                </div>
                <div class="option_pay">
                    <div id="metodo_credito" >Tarjeta de Credito</div>
                    <i class="card_pay"></i>
                </div>-->
                <input type="button" id="submit_reserva" value="Confirmar Reserva" class="submit_default hide">
            </div> 

        </div>
        <div id="step5" class="step">
            <i class="close_window fas fa-window-close"></i>
            <div id="msj_for_client"></div>
            <input type="button" id="aceptar_reserva" value="Aceptar"  class="submit_default">
        </div>
    </div>

</div>